.main {
    width: calc(var(--page-width) - var(--navbar-width));
}

.navbar {
    width: var(--navbar-width);
    position: sticky;
    top: var(--page-blocks-gap);
}

@media (max-width: 420px) {
    .navbar {
        width: 100%;
        position: relative;
    }

    .main {
        width: 100%;
    }
}