.root {
  height: 64px;
  padding: 8px 16px;
  padding-left: 8px;
  width: 100%;

  cursor: pointer;
  position: relative;

  background-color: var(--chat-bg);
}

.root:hover, .rootOpened {
  background-color: var(--chat-active);
}

.root span, .root b {
  font-size: 12px;
}

.root .datetime {
  font-size: 10px;
  white-space: nowrap;
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  z-index: 1;
  background-color: inherit;
}

.root .unread {
  font-size: 12px;
  white-space: nowrap;
  display: block;
  position: absolute;
  bottom: 16px;
  right: 8px;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  z-index: 1;
  background-color: var(--chat-active);
  border-radius: 4px;
}

.root .title {
  font-size: 14px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 215px;
}

.picture {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  background-color: beige;
  border-radius: 100%;
}
