html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--theme_body_bg);
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 14px;
}
