:root {
  --card-border-width: 1px;
  --card-border-color: black;
  --card-border-radius: 4px;
  --card-padding: 12px 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-border-color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
