.body {
    padding-top: var(--page-blocks-gap);
    padding-bottom: var(--page-blocks-gap);
    gap: var(--page-blocks-gap);
    justify-content: center;
    align-items: flex-start;
}

.main {
    width: calc(var(--page-width) - var(--navbar-width));
}

.navbar {
    width: var(--navbar-width);
    position: sticky;
    top: var(--page-blocks-gap);
}
