.root {
  padding: 8px;
  background-color: var(--theme_post_bg);
}

.infobar {
  display: flex;
  width: 100%;
  gap: 12px;
}

.subject {
  font-size: 14px;
  font-weight: bold;
}

.op {
  font-size: 14px;
  color: darkgreen;
}

.datetime {
  font-size: 14px;
  color: chocolate;
}

.postId {
  font-size: 14px;
  color: brown;
  font-weight: bold;
}
