.root {
    display: inline-block;
    position: relative;
}

.text {
    cursor: pointer;
}

.popover {
    width: 640px;

    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-1);
}
